@font-face {
    font-family: calSans;
    src: url(CalSans-Regular.ttf);
    font-weight: bold;
}

body {
    background-color: #abebc6 ;
    font-family: calSans;
}

h3 {
    margin-top: 10%;
    margin-bottom: 2%;
    font-size: 3em;
    text-align: center; 
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* subtle shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h4 {
    text-align: center; 
    max-width: 800px; 
    margin: 0 auto;   
    line-height: 1.5; 
}

.links {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

h2 {
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 2em;
    text-align: center; 
}

p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.container {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10%;
    row-gap: 5%;
}

.image-text-container img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 2%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
}

.image-text-container img:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.image-text-container p {
    font-size: 1em;
    color: #333;
    margin: 0;
    padding: 10px;
    background-color: #82e0aa;
    border-radius: 8px;
}
